section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Dịch Vụ
            h3.section-subheading.text-muted Rất nhiều khách hàng đã và đang sử dụng dịch vụ.
        .row
            .col-lg-4.col-sm-6.mb-4
                .portfolio-item
                    a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Threads
                        .portfolio-caption-subheading.text-muted Illustration
            .col-lg-4.col-sm-6.mb-4
                .portfolio-item
                    a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Explore
                        .portfolio-caption-subheading.text-muted Graphic Design
            .col-lg-4.col-sm-6.mb-4
                .portfolio-item
                    a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Finish
                        .portfolio-caption-subheading.text-muted Identity
            .col-lg-4.col-sm-6.mb-4.mb-lg-0
                .portfolio-item
                    a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Lines
                        .portfolio-caption-subheading.text-muted Branding
            .col-lg-4.col-sm-6.mb-4.mb-sm-0
                .portfolio-item
                    a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/05-thumbnail.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Southwest
                        .portfolio-caption-subheading.text-muted Website Design
            .col-lg-4.col-sm-6
                .portfolio-item
                    a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Window
                        .portfolio-caption-subheading.text-muted Photography
