// Override Bootstrap color system

$yellow: #C2983D;
$black: #252425;
$gray: #C2CCC5;

// Override Bootstrap default state colors

$primary: $yellow;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
